html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  word-wrap: break-word !important;
  font-weight: inherit
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

nav ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after {
  content: '';
  content: none
}

q:before, q:after {
  content: '';
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  vertical-align: baseline;
  background: transparent;
  outline: none
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0
}

input, select {
  vertical-align: middle
}

input, textarea, button {
  outline: none
}

label {
  cursor: pointer
}

ul, ol {
  list-style: none
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom
}

input[type=text], textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0.5em;
  border: 1px solid #666;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none
}

button {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none
}

main {
  display: block
}
