body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}
@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
}
